<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexaoADO"
            connectionString="Data Source=desktop-v72h0i5;Initial Catalog=dbcantina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>