<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexaoADO"
            connectionString="Data Source=andregustavd276;Initial Catalog=dbcantina;User ID=sa;Password=2015@c3f3t"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>